.top { background-color:#86C166; border-bottom:#D7B98E 6px solid; padding: 7px 0; height: 100px;}

.top .logo { float: left; padding: 0px 160px;}
.top .nav{  padding-top: 30px; padding-left:80px;}

.nav > ul { overflow: hidden; width: 100%;}
.nav > ul > li {  width:25%; float: left; }
.nav > ul > li > a { display: block;  font-size: 20px; font-weight: bold; color: #fff;}
/* .nav > ul > li.cur > a { font-weight:bold; color: #0a8629; } */

img.round_conner { border-radius: 0 50% 50% 50%; }

#banner { width: 100%; height: 755px; background: #000; overflow: hidden; position: relative; }
#banner_img { display: block; position: relative; }


/* ui */
ul { list-style-type: none;}
a { -webkit-transition: all 0.3s ease; transition: all 0.3s ease; text-decoration: none; outline: 0;}
ul li a:hover { color: #0a8629; text-decoration: none;}